<section class="profile">
  <div class="profile__image-wrapper">
    <img class="profile__image" src="/images/Samir70-avatar.jpg" alt="Samir Betmouni, Software Engineer and Web Developer">
  </div>
  <div class="profile__card">
    <p class="profile__text">Hi! I'm <span class="profile__text--highlight">Samir</span>, a software engineer and web developer from Aylesbury, Buckinghamshire. I have a background in mathematics and education. And a life long love of coding, having started many years ago on a Commodore 64</p>
    <p class="profile__text">As a <span class="profile__text--highlight">frontend developer</span>, I focus on functionality and ease of use. I like my UIs to make sense without instructions. </p>
    <p class="profile__text">As a <span class="profile__text--highlight">backend developer</span>, I have made APIs using NodeJS and various database technologies. </p>
    <p class="profile__text">As an <span class="profile__text--highlight">educator</span> I have taught test-driven development, object oriented programming and agile methodologies. This has been in javaScript (my main language) as well as Ruby and Python. </p>
    <p class="profile__text">I'm always open to new opportunities and projects. So don't hesitate to <a class="profile__link" href="/contact"s>get in touch</a>.</p>
  </div>
</section>